* {
  box-sizing: border-box;
}

body {
  background-color: #080708;
  font-family: "Libre Baskerville", serif;
}

wrapper {
  display: flex;
  flex-direction: column;

  min-width: 14em;
  min-height: 8em;

  width: 60vw;
  height: 34.28vw;

  max-width: 52.5em;
  max-height: 30em;

  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #e2e8ce;
  border-radius: 0.2em;
  box-shadow: 0.4em 0.4em 0.8em #e2e8ce6e;

  font-size: 3vw;

  padding: 1em;
  text-align: center;

  color: #0f1a20;
}

h1 {
  font-size: 2em;
  margin: 10% 0 0 0;
}
h2 {
  font-size: 0.7em;
  margin-top: 0.5em;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
  margin: 0;
  margin-top: 1em;

  font-size: 1em;
}
li {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #0f1a20;
}
.icon-name {
  font-family: "Open Sans", sans-serif;
  margin-top: 0.5em;
  font-size: 0.5em;
}

a:visited {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
li:hover {
  color: #fe5d26;
}
